<h1><%= @project.name %></h1>

<p>
	<em><%= @project.tagline %></em>
</p>

<p>
	<%= image_tag(@project.photo, :height=> "300") %>
</p>

<p>
	<%= @project.description %>
</p>

<p>
	<%= @project.amount %>
</p>

<p>
	<strong>Start Date: </strong>
	<%= @project.start_date.year %>-<%= @project.start_date.month %>-<%= @project.start_date.day %>
</p>

<p>
	<strong>End Date: </strong>
	<%= @project.end_date.year %>-<%= @project.end_date.month %>-<%= @project.end_date.day %>
</p>


<h2>New Comment</h2>

<%= form_for([@project, @comment]) do |f| %>
<div class="field">
	<%= f.text_area :post, size: "60x12" %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>

<h2>Comments</h2>

<% @project.comments.each do |comment| %>
<p>
	<%= comment.post %>
	<br>
	<% if comment.user != nil %>
	<em> by <%= comment.user.user_name %></em>
	Added on: <%= comment.created_at %>
	<% end %>
</p>
<% end %>

<% if @comment.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

	<ul>
		<% @comment.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
</div>

<h2>Rewards</h2>

<% @project.rewards.each do |reward| %>
<p>
	<%= reward.title %><br/>
	<%= reward.description %><br/>
	<%= reward.min_amount %><br/>
</p>
<% end %>